<shared-header></shared-header>
<div class="d-flex flex-column min-vh-100">
  <div class="container mt-5 flex-grow-1">
    <h2 class="text-center mb-4">Company Challenges</h2>
    <div class="text-center mb-3">
      <button
        *ngIf="canAddChallenge()"
        class="btn btn-primary"
        (click)="addChallenge()"
      >
        Create New Challenge
      </button>
      <button
        *ngIf="!canAddChallenge()"
        class="btn btn-primary"
        (click)="addChallenge()"
        title="Increase your challenge limit by upgrading to Premium."
      >
        Premium
        <i class="bi bi-coin ms-1"></i>
      </button>
    </div>
    <div *ngFor="let challenge of challenges" class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ challenge.title }} <i *ngIf="challenge.premium === true" class="bi bi-coin ms-1"></i></h5>
        <p class="card-text">{{ challenge.shortDescription }}</p>
        <p class="card-text">{{ challenge.description }}</p>
        <p class="card-text">Budget: {{ challenge.budget }} €</p>
        <p class="card-text">
          End Date: {{ challenge.endDate | date : "dd/MM/yyyy" }}
        </p>
        <p class="card-text">
          ODS List:
          <span *ngFor="let ods of challenge.odsList; let i = index">
            {{ ods.name
            }}<span *ngIf="i < challenge.odsList.length - 1">, </span>
          </span>
        </p>
        <p class="card-text">
          Requirements: {{ challenge.requirements?.join(", ") }}
        </p>
        <p class="card-text">Benefits: {{ challenge.benefits?.join(", ") }}</p>
        <a
          [routerLink]="['/company-dashboard/challenges/edit', challenge.id]"
          class="btn btn-warning"
        >
          Edit
        </a>
        <button
          (click)="deleteChallenge(challenge.id)"
          class="btn btn-danger ms-4 me-4"
        >
          Delete
        </button>
        <a
          [routerLink]="[
            '/company-dashboard/challenges/proposal',
            challenge.id
          ]"
          class="btn btn-info"
        >
          See Proposals
        </a>

        <!-- Si es cliente -->
        <button
          *ngIf="planType === 'free'"
          (click)="goToSubscriptions()"
          class="btn btn-greendark ms-4 me-4"
          title="Upgrade to Premium to unlock your challenge"
        >
          Get Premium
          <i class="bi bi-coin ms-1"></i>
        </button>

        <!-- Si NO es cliente -->
        <button
        *ngIf="planType !== 'free'"
        class="btn btn-greendark ms-4 me-4"
        [disabled]="loading"
        (click)="openConfirmationModal(challenge)"
        data-bs-toggle="modal"
        data-bs-target="#confirmUpgradeModal"
      >
        {{ challenge.premium ? "Cancel Premium" : "Upgrade to Premium" }}
      </button>

      </div>
    </div>
  </div>
  <shared-footer></shared-footer>
</div>

<!-- Modal de Confirmación -->
<div class="modal fade" id="confirmUpgradeModal" tabindex="-1" aria-labelledby="confirmUpgradeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmUpgradeModalLabel">Confirm Action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to 
        <strong>{{ selectedChallenge?.premium ? 'Cancel premium' : 'Upgrade to premium' }}</strong>
        for this challenge?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirmUpgrade()">Yes, Confirm</button>
      </div>
    </div>
  </div>
</div>
